@charset "utf-8";

/* start titleFrame  */
.topbg {
	background: url(../images/titleFrame/top_bg.png) no-repeat;
	height: 80px;
	background-repeat: repeat-x;
}


.top_title0 {
	position: absolute;
	float: left;
    background: url(../images/titleFrame/top_title0.png) no-repeat; 	
	width: 800px;
	height: 80px;
}

.top_title1 {
	position: absolute;
	float: left;
    background: url(../images/titleFrame/top_title0.png) no-repeat; 	
	width: 800px;
	height: 80px;
}

.top_title2 {
	position: absolute;
	float: left;
    background: url(../images/titleFrame/top_title0.png) no-repeat; 	
	width: 800px;
	height: 80px;
}
.btntop {
	float: right;
	margin: 0px;
	width: 400px;
	height: 80px;
	text-align: right;
	padding: 16px 0 16px 0;
}
.btn_r {
	float: right;
	height: 32px;	
}

.btn_r ul {
	list-style-type: none;
	list-style-position: inside;	
	display: inline;
}

.btn_r ul li {
	display: inline;
}

.btn_a {
	text-align: center;
	display: block;	
	float: left;
	padding: 0px 20px 0 0px;
}

.btn_caption {
	color: #fff;
}

.w50 {
	width:50%
}

.font_name {
	float: right;
	color: #eeeeee;
	width: 400px;
	height: 25px;
	padding: 15px 5px 0 0;
	text-align: right
}

/* end titleFrame  */