@charset "utf-8";

/*Ê×Ò³ÑùÊ½*/
.tab_topm {
	height: 24px;
	margin: 8px 4px 0 4px; *+
	margin: 8px 4px 0 4px;
	background-image: url(../images/tab/title_bg.jpg);
	background-repeat: no-repeat;
}

.tab_topmc {
	float: left;
	font-weight: bold;
	color: #003f45;
	height: 18px;
	padding: 7px 0px 0px 32px;
}

.tab_topmc2 {
	float: left;
	font-weight: bold;
	color: #003f45;
	height: 18px;
	padding: 9px 0px 0px 32px;
}

.tab_main {
	width: 99%;
	border: 0;
	background-color: #a8cfd0;
}

.red_b {
	font-weight: bold;
	color: red;
}

.main_img {
	width: 175px;
	float: left;
	height: 130px;
	margin: 0 !important; *+
	margin: 0;
	text-align: center;
	color: #3b3b3b;
	font-size: 12px;
	line-height: 14px; *+
	line-height: 16px;
	padding: 0;
}

.main_img a:link,.main_img a:visited {
	color: #3b3b3b;
	text-decoration: none;
}

.main_img a:hover,.main_img a:active {
	color: #FF6600;
	text-decoration: none;
}

.value_up {
	width: 20px;
	height: 20px;
	background-image: url(../images/tab/gjs.jpg);
	background-repeat: no-repeat;
}

.value_down {
	width: 20px;
	height: 20px;
	background-image: url(../images/tab/gjx.jpg);
	background-repeat: no-repeat;
}

.value_none {
	width: 20px;
	height: 20px;
	background-image: url(../images/tab/gjz.jpg);
	background-repeat: no-repeat;
}

.first_line1 {
	height: 24px; *+
	height: 22px;
	text-align: center;
	background-image: url(../images/tab/tab_99.gif);
}
